.container.work__container {
    width: 75%;
    padding-bottom: 4rem;
}
.work__box {
    text-align: center;
    width: 100%;
}
img.work__box__img {
    text-align: center;
    width: 100%;
}
img.work__img {
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
    transition: .4s;
    opacity: 1;
    position: relative;
}
img.work__img::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
    z-index: 1;
    opacity: 1;
}
.work__box:hover img.work__img {
    transform: scale(1.05);
    background: var(--color-light);
    opacity: .5;
}
.work__box .work__text {
    padding: 10px;
}
.work__meta.absolute {
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;;
    flex-wrap: wrap;
    border-radius: 5px;
    width: 100%;
}
a.work__btn {
    padding: 12px 35px;
    border: 2px solid var(--color-light);
    border-radius: 5px;
    transition: .4s ease;
    display: none;
}
.work__box:hover a.work__btn{
    display: block;
    background-color: var(--color-primary-variant);
    border: 2px solid var(--color-primary-variant);
    color: var(--color-white);
}
.swiper-pagination .swiper-pagination-bullet {
    background: var(--color-light);
}
.swiper-pagination .swiper-pagination-bullet-active {
    background: var(--swiper-theme-color);
}
.swiper-wrapper .swiper-slide {
    width: 60%;
}
/* RESPONSIVE FOR TABLETS */
@media screen and (max-width: 1024px) {
    .container.work__container {
        width: var(--container-width-md);
    }
}

/* RESPONSIVE FOR MOBILE */
@media screen and (max-width: 600px) {
    .container.work__container {
        width: var(--container-width-sm);
    }
    .work__meta.absolute {
        top: 3rem;
    }
}
